.wrapper {
  width: 70%;
  padding: 1rem;
  background-color: var(--bg);
  border-right: 1px solid rgba(128, 128, 128, 0.096);
  border-left: 1px solid rgba(128, 128, 128, 0.096);
  min-height: 55vh;
  margin: auto;
}
