@import "../../../assets/style/breakpoints/breakpoints.scss";
.button-add-delete {
  font-family: "CrazyKrabs";
  background: linear-gradient(black, var(--secondary));
  border: none;
  position: relative;
  padding: 0.5rem;
  min-width: 13rem;
  text-align: center;
  color: white;
  font-size: 19px;
  font-weight: 800;
  cursor: pointer;
  border-radius: 30px;
  letter-spacing: 1px;
  box-shadow: 0 0 2px #080808;
  text-transform: uppercase;
  transition: box-shadow 0.5s ease;
  border: 1px solid rgba(0, 0, 0, 0.753);
  border-bottom: 1px solid #454b4c;
  &:hover {
    box-shadow: none;
    border: 1px solid var(--bg);
  }
  &:hover .button-light {
    top: 7px;
    left: 7px;
    height: 8px;
  }
  .button-light {
    position: absolute;
    width: 18px;
    height: 9px;
    transform: matrix(0.91, -0.41, 0.41, 0.91, 0, 0);
    background: transparent
      linear-gradient(255deg, #ffffffb4 0%, #ffffff34 100%) 0% 0% no-repeat
      padding-box;
    opacity: 0.9;
    border-radius: 50%;
    top: 6px;
    left: 6px;
    cursor: pointer;
  }
}
.button-add-delete.link-button {
  background: transparent linear-gradient(#000000, #686868) no-repeat
    padding-box;
  width: 19rem;
  @include small {
    width: 15rem;
  }
}
.button-add-delete.remove {
  border: 1px solid var(--main);
  background: transparent linear-gradient(#ff0202a8, var(--main));
  width: 13rem;
  @include small {
    width: 10rem;
  }
}
