.footer-sec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: black;
  min-height: 20vh;
  color: var(--main);
  h1 {
    font-family: "CrazyKrabs";
    font-size: 35px;
    letter-spacing: 1px;
  }
  .footer-content {
    text-align: center;
    h4 {
      color: var(--secondary);
    }
    span {
      font-family: roboto-bold;
      margin-right: 0.5rem;
      position: relative;
      top: -5px;
    }
    .copyright {
      font-size: 11px;
      font-weight: 500;
      span {
        margin-left: 0.5rem;
        position: relative;
        top: -1px;
      }
    }
  }
}
